:root {
    --primary-color-300: #aed0d1;
    --primary-color-500: #86b9ba;
    --primary-color-hovered: #539192;
    --primary-color-700:#539192 ;
    --primary-color-900:#417172 ;
    --secondary-color: #f1f0ef;
    --impact-color: #f15e5d;
    --dark-color: #40373f;
    --light-color: #f1f0ef;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--dark-color);
    background-color: var(--light-color);
}

#main-header{
    background-color: var(--primary-color-500);
    color: var(--light-color);    ;
    padding: 2rem 5%;
    text-align: center;
}

.btn {
    font: inherit;
    padding: 0.5 rem 1.5rem;
    background-color: var(--primary-color-500);
    border: 1px solid var(--primary-color-500);
    color: var(--light-color);
    border-radius: 4px;
    cursor: pointer;
}

.rvs-btn {
    background-color: transparent;
    border-color: transparent;
    color: var(--primary-color-700);
    font-weight: 700;
}

.btn:hover {
    background-color:var(--primary-color-hovered) ;
    border-color: var(--primary-color-hovered);

}

.rvs-btn:hover{
    color: var(--primary-color-hovered);
    background-color:var(--primary-color-500) ;
    border-color: transparent;
    color: var(--primary-color-900);
}

