:root {
    --primary-color: #86b9ba;
    --secondary-color: #f1f0ef;
    --dark-color: #40373f;
    --light-color: #f1f0ef;
}

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    color: var(--dark-color);
    background-color: var(--light-color);
}

#main-header{
    background-color: var(--primary-color);
    color: var(--light-color);    ;
    padding: 2rem 5%;
    text-align: center;
}